<header>
  <div class="container">
      <div class="header-inner">
          <div class="logo">
              <span style="font-weight: 700; font-size: 20px; color: white; margin-right: 40px;">
                  <i class="fa fa-flask" style="margin-right: 10px;"></i>НИИ "Наука"
              </span>
          </div>
          <nav>
              <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Темы и руководители</a>
              <a [routerLink]="['/departments']" routerLinkActive="active">Подразделения</a>
              <a [routerLink]="['/contracts']" routerLinkActive="active">Договоры</a>
          </nav>
      </div>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>